<h1>Transaction History</h1>
<h2 ng-hide="history.length" style="font-weight:300">You haven't purchased any shares yet. Search for a share you'd like to trade.</h2>
<table width="100%" ng-show="history.length">
  <thead>
    <tr>
      <th>Action</th>
      <th>Equity</th>
      <th>Qty</th>
      <th>Date</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="trans in history" align="center">
      <td>{{trans.type}}</td>
      <td><a href="#" ng-click="searchSymbol(trans.ticker)">{{trans.ticker}}</a></td>
      <td>{{trans.quantity}}</td>
      <td>{{trans.date | date : 'shortDate'}}</td>
      <td>{{trans.cash | currency}}</td>
    </tr>
  </tbody>
</table>
